.jumbotron {
  text-align: center;
  background-color: #c2f0c2;
}

#show-contact {
  display: none;
}

#contacts {
  cursor: pointer;
  color: #0088cc;
}

#contacts:hover {
  text-decoration: underline;
}
